p,li {
    font-size: 29px; 
    line-height:2; 
    letter-spacing: 1px; 
    text-align: center; /*Se centra el texto*/
    color:rgb(6, 2, 61); /*Color de la letra */
    padding: 20px; /*Se separa el texto de arriba*/
    font-family: Arial;
}
h1 { 
    font-size:30px; 
    color:rgb(0, 0, 0);
} 
h2 { 
    font-size:20px; 
    color:rgb(0, 0, 0);
    box-sizing:border-box;
    background-color: rgba(175, 180, 185, 0.986);
    display: inline-block;
    border-radius: 50em;
    border: 4px solid rgb(0, 0, 0);
    padding: 6px 10px;
} 
html{ 
    font-size:10px;/*px quiere decir"pixeles":el tamaño de la fuente base es ahora de 10 pixeles de altura*/ 
    font-family:"Open Sans",sans-serif;/*Este debe ser el resto del resultado que obtuviste de google fonts*/ 

} 
body {
    border: 5px solid black;    
}